


/* Tablet Responsive */
@media only screen and (min-width:578px) and (max-width:992px){

    /* for header */
    .navbar{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-bottom:1px solid rgba(0, 0, 0, 0.309) ;
    }
    .logo{
        margin: 30px 0;
    }
    .nav-link{
        font-size: 14px;
    }

    .menu-btns{
        font-size: 12px;
    }



    /* for banner */
    .banner-text {
        padding: 0px 75px;
    }
    .banner-text {
        padding: 0px 75px;
    }
    .banner-text h2{
        color: #0B0223;
        text-align: center;
        font-size: 32px;
    }

    .banner-text h1{
        text-align: center;
        font-size: 65px;
    }
    .banner-text ul li{
        font-size: 14px;
    }

    .banner-btn{
        margin-top: 5px;
        margin-right:5px;
    }
    .btn-primary{
        font-size: 14px;
        padding: 15px 25px;
    }
    .btn-secondary{
        font-size: 14px;
        padding: 15px 25px;
    }
    /* we are gamer */
    .we-gamer{
        flex-direction: column-reverse;
    }
    .we-gamer-img{
        width: 100%;
    }


/* online game */
    
.online-game{
    padding: 0 50px;
}


.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
/* play section */
.play-inner{
    flex-direction: column;
}

.play-text{
    width: 100%;
}
.play-img-box{
    width: 80%;
    position: relative;
    margin-left: 120px;
}
/* footer */
.quick-links{
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 40px;
    margin-bottom: 50px;
}

.social-icons{
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: 0px 050px;
    padding: 0 100px;
}
.footer-text{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
}
















}



/* Mobile Responsive */
@media screen and (max-width: 576px) {
    .container{
        padding: 0px 10px;
        margin: 0 auto;
    }
    /* for navbar */
    .navbar, .menu,  .we-gamer, .cards{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-text{
        text-align: center;
        margin-top: 20px;
    }

    .banner-text {
        padding: 0px 50px;
    }
    .banner-text h2{
        color: #0B0223;
        text-align: center;
        font-size: 32px;
    }

    .banner-text h1{
        text-align: center;
        font-size: 32px;
    }
    .banner-text ul li{
        font-size: 14px;
    }

    .banner-btn{
        margin-top: 5px;
        margin-right:5px;
    }
    .btn-primary{
        font-size: 14px;
        padding: 15px 25px;
    }
    .btn-secondary{
        font-size: 14px;
        padding: 15px 25px;
    }

    .logo{
        margin: 30px 0
    }
    .menu{
        margin-top: 20px;
    }
    .menu-btns{
        margin-top: 20px;
        text-align: center;
     }
     .menu li{
        list-style: none;
        margin: 10px 0;
     }
     .banner-images{
        margin-bottom: 100px;
        text-align: center;
     }
     .banner-images img{
        width: 80%;
     }
     .banner-text h1{
        text-align: center;
        font-size: 70px;
        font-weight: 800;
    }
     /*for we are gamer */

     .we-gamer-img{
        width: 80%;
        text-align: center;
    }
    .we-gamer-text{
        text-align: center;
    }
    /* for onliine game section */
    .card{
        margin-bottom: 35px;
    }


    /* Catagory */
    .btn-group{
        grid-template-columns: repeat(3, 1fr);
    }

    
    /* for play */
    .play-inner{
        flex-direction: column;
        text-align: center;
    }
    .play-text {
        width: 70%;
        margin-bottom: 70px;
    }
    .play-img {
        width: 86%;
        margin-left: 39px;
    }
    .play-img-2{
        width: 47%;
        top: 121px;
        left: -16px;
    }



    /* for footer */
    .quick-links{
        padding: 0 20px;
        margin: 30px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
    .social-icons{
        margin: 90px 0;
        padding: 0 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
    }
    .footer-text{
        padding: 0px 0px;
        margin: 30px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
    .footer-cp{
        padding: 50px 100px;
    }

}