/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* Common css */
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --primary-color: #FF42A5;
    --secondary-color: #4EC5F7;
}
img{
    width: 100%;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
}
.btn{
    border: none;
}
.btn-primary{
    color: #FFF;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 20px 40px;
    text-align: center;
    border: none;
    border-radius: 50px;
    background: var(--primary-color);
}
.btn-secondary{
    color: #FFF;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 20px 40px;
    text-align: center;
    border: none;
    border-radius: 50px;
    background: var(--secondary-color);
}
.gradient-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-center{
    text-align: center;
}
/* header css */
header{
    padding: 35px 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.logo img{
    width: 80px;
}
.logo-text{
    font-size: 45px;
    font-weight: 700;
    margin: 0 15px;
}

.logo-text span{
    color: var(--primary-color);
    
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu li{
   list-style: none;
   margin: 0 10px;
}
.nav-link{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.menu-btns{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 24px;
    border-radius: 8px;
    background: #0b02231a;
}
.menu-btns i{
    font-size: 24px;
    margin: 0 8px;
    background: transparent;
}
.fa-youtube{
    color: #CD201F;
}
.fa-tiktok{
}
/* banner css */
.banner{
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-text h2{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-text h1{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    line-height: 120px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-text ul li{
    list-style: none;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
}
.banner-text ul li i{
   color: var(--primary-color);
   margin-right: 10px;
}
.banner-btn{
    margin-top: 30px;
    margin-right:22px;
}
/* We are gamer css */
.we-gamer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.we-gamer-img{
    width: 200%;
}
.we-gamer-text{
    text-align: center;
}
.we-gamer-text h2{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.we-gamer-text p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
}
.we-gamer-text button{
    margin: 20px 0;
}
.para{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
.para span{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}
/* Online game */
.online-game{
    margin: 90px 0;
}

.section-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}
.section-description{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.card{
    height: 450px;
    width: 310px;
    position: relative;
}
.card :hover .overlay-text, .overlay{
    display: block;

    transition: 1s;
}
.card :hover .overlay{
    border: 5px solid var(--primary-color);
    display: block;
    background-color: #000000b5;
    transition: .1s;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card h3{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 20px;
}
.img-box{
    position: relative;
}
.overlay-text{
    position: absolute;
    top: 68%;
    left: 84%;
    color: var(--primary-color);
    font-size: 20px;
    margin-top: -100px;
    margin-left: -150px;
    text-align: center;
    z-index: 11;
    display: none;
    text-decoration: none;
  }
  .overlay-text i{
    font-size: 35px;
    color: #FFF;
    margin-bottom: 10px;
  }

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0%;
    height: 99%;
    width: 100%;
    z-index: 5;
    border-radius: 20px;
    
}

/* Play section */
.play-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.play-text{
    width: 50%;
    margin-bottom: 116px;
}
.play-text h2{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 20px 0;
}
.play-text p{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
}
.play-img-box{
    width: 600px;
}
.play-img{
    width: 600px;
}
.play-img-2 {
    position: relative;
    top: -226px;
    left: -25%;
    width: 300px;
}


/* catagory css */
.btn-group{
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 45px;
    text-align: center;
}
.btn-group li{
    list-style: none;
    text-align: center;
}
.btn-group li button{
    border: 2px solid #00000000;
    background: none;
    padding: 8px 10px;
}
.btn-group li button:hover{
    border: 2px solid var(--primary-color);
    border-radius: 50px;
}
.btn-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-link:hover span{
    color: var(--primary-color);
}
.btn-link img{
    width: 60px;
}
.btn-link span{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    margin-left: 12px;
    padding: 8px 15px;
}


/* Footer css */
footer{
    background: #0B0223;
    padding: 120px 0;
}
.footer-inner{
    text-align: center;
    width: 100%;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}
.footer-logo img{
    width: 80px;
    display: inline-block
}
.footer-logo-text{
    font-size: 45px;
    font-weight: 700;
    margin: 0 15px;
    color: #fff;
}
.footer-logo-text span{
    color: var(--primary-color);
}
.footer-texts ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-texts ul li{
    list-style: none;
}
.footer-texts ul li a{
    text-decoration: none;
}
.quick-links{
    padding: 0 200px;
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.quick-link{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}
.social-icons{
    margin: 60px 0;
    padding: 0 400px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.icon-link{
    font-size: 48px;
    color: #fff;
}
.footer-text{
    padding: 0px 270px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-link{
    color: #ffffff99;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.footer-cp{
    color: #ffffff99;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
}